html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 1700px;
  min-width: 750px;
  margin: auto;
  padding: 40px 15px; }
  @media only screen and (max-width: 1420px) {
    .container {
      padding: 30px 15px; } }

.row {
  width: 100%;
  display: table; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

.column {
  display: table-cell;
  padding: 0 15px;
  vertical-align: top; }
  .column-middle {
    vertical-align: middle; }
  .column-1 {
    width: 8.33333333%; }
  .column-2 {
    width: 16.66666667%; }
  .column-3 {
    width: 25%; }
  .column-4 {
    width: 33.33333333%; }
  .column-5 {
    width: 41.66666667%; }
  .column-6 {
    widows: 50%; }
  .column-7 {
    width: 58.33333333%; }
  .column-8 {
    width: 66.66666667%; }
  .column-9 {
    width: 75%; }
  .column-10 {
    width: 83.33333333%; }
  .column-11 {
    width: 91.66666667%; }
  .column-12 {
    width: 100%; }

.stepsform {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  color: #7f7c80;
  font-weight: 300; }
  .stepsform hr {
    border: none;
    border-top: 2px solid #28acd8;
    margin: 100px 0; }
  .stepsform h1, .stepsform h2, .stepsform h3, .stepsform h4, .stepsform h5, .stepsform h6 {
    font-weight: 300;
    text-align: center;
    color: #28acd8; }
  .stepsform h1 {
    font-size: 92px; }
  .stepsform h2 {
    font-size: 47px;
    font-weight: 300; }
  .stepsform h4 {
    font-size: 47px;
    font-weight: 300; }
  .stepsform h5 {
    font-size: 40px; }
  .stepsform p {
    font-weight: 300; }
  .stepsform .title {
    margin-bottom: 40px; }
  .stepsform .subtitle {
    margin-bottom: 90px; }
  .stepsform .btn-blue {
    display: inline-block;
    background: transparent;
    padding: 9px 35px;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #28acd8;
    outline: none;
    border: 3px solid #28acd8;
    cursor: pointer;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .stepsform .btn-blue:hover {
      background-color: #28acd8;
      color: #ffffff; }
    .stepsform .btn-blue:focus {
      background-color: #2191b6;
      border-color: #2191b6;
      color: #ffffff; }
  .stepsform .btn-large {
    padding: 15px 60px;
    font-size: 47px;
    letter-spacing: 2px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    border-radius: 18px; }
  .stepsform label {
    display: block;
    font-weight: 300;
    margin-bottom: 25px; }
  .stepsform input, .stepsform textarea {
    margin-bottom: 15px;
    width: 100%;
    font-size: 30px;
    font-weight: 300;
    color: #28acd8;
    outline: none;
    border: 3px solid #28acd8;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .stepsform input:focus, .stepsform textarea:focus {
      border-color: #7f7c80; }
  .stepsform input {
    padding: 7px 30px; }
  .stepsform textarea {
    padding: 20px;
    resize: none;
    height: auto; }
  .stepsform pre {
    padding: 16px 20px 20px;
    white-space: normal;
    margin-bottom: 15px;
    width: 100%;
    font-size: 24px;
    line-height: 1.4;
    font-weight: 300;
    color: #7f7c80;
    border: 3px solid #28acd8;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px; }
  .stepsform ::-webkit-input-placeholder {
    color: #7f7c80;
    font-weight: 300; }
  .stepsform ::-moz-placeholder {
    color: #7f7c80;
    font-weight: 300; }
  .stepsform :-moz-placeholder {
    color: #7f7c80;
    font-weight: 300; }
  .stepsform :-ms-input-placeholder {
    color: #7f7c80;
    font-weight: 300; }
  .stepsform .logo-holder {
    margin-bottom: 50px; }
  @media only screen and (max-width: 1420px) {
    .stepsform {
      font-size: 24px; }
      .stepsform h1 {
        font-size: 70px; }
      .stepsform h2 {
        font-size: 40px; }
      .stepsform h4 {
        font-size: 40px; }
      .stepsform h5 {
        font-size: 32px; }
      .stepsform .title {
        margin-bottom: 25px; }
      .stepsform .subtitle {
        margin-bottom: 50px; }
      .stepsform .logo-holder {
        margin-bottom: 25px; }
      .stepsform .btn-blue {
        font-size: 24px;
        padding: 7px 30px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        border-radius: 12px; }
      .stepsform .btn-large {
        padding: 12px 40px;
        font-size: 35px;
        letter-spacing: 1px;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        -ms-border-radius: 18px;
        border-radius: 18px; }
      .stepsform label {
        margin-bottom: 15px; }
      .stepsform input, .stepsform textarea {
        font-size: 24px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        border-radius: 12px; }
      .stepsform input {
        padding: 5px 25px; }
      .stepsform pre {
        font-size: 18px;
        padding: 12px 15px 15px; } }
  @media only screen and (max-width: 991px) {
    .stepsform {
      font-size: 18px; }
      .stepsform hr {
        margin: 40px 0; }
      .stepsform h1 {
        font-size: 50px; }
      .stepsform h2 {
        font-size: 28px; }
      .stepsform h4 {
        font-size: 28px; }
      .stepsform h5 {
        font-size: 20px; }
      .stepsform .title {
        margin-bottom: 20px; }
      .stepsform .subtitle {
        margin-bottom: 35px; }
      .stepsform .logo-holder {
        margin-bottom: 15px; }
        .stepsform .logo-holder img {
          width: 230px; }
      .stepsform .btn-blue {
        font-size: 20px;
        padding: 7px 20px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        border-radius: 10px; }
      .stepsform .btn-large {
        padding: 10px 30px;
        font-size: 28px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        border-radius: 15px; }
      .stepsform label {
        margin-bottom: 15px; }
      .stepsform input, .stepsform textarea {
        font-size: 18px;
        margin-bottom: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        border-radius: 10px; }
      .stepsform input {
        padding: 5px 15px; }
      .stepsform pre {
        font-size: 15px;
        padding: 10px 12px 12px; } }
  .stepsform-start {
    text-align: center; }
    .stepsform-start-inner:after {
      content: "";
      display: table;
      clear: both; }
    .stepsform-start-item {
      padding: 0 30px; }
      .stepsform-start-item .icon-holder {
        margin-bottom: 40px;
        height: 256px;
        position: relative; }
        .stepsform-start-item .icon-holder img {
          width: 256px;
          height: 256px;
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -128px;
          -webkit-transition: all 0.4s linear;
          -moz-transition: all 0.4s linear;
          -ms-transition: all 0.4s linear;
          -o-transition: all 0.4s linear;
          transition: all 0.4s linear; }
          .stepsform-start-item .icon-holder img.hover-icon {
            visibility: hidden;
            opacity: 0;
            z-index: 10; }
      .stepsform-start-item h5 {
        margin-bottom: 30px; }
      .stepsform-start-item p {
        line-height: 1.5; }
      .stepsform-start-item .button-holder {
        margin-top: 40px; }
      .stepsform-start-item:hover .icon-holder img.hover-icon {
        visibility: visible;
        opacity: 1; }
    @media only screen and (max-width: 1420px) {
      .stepsform-start-item {
        padding: 0 20px; }
        .stepsform-start-item .icon-holder {
          height: 200px;
          margin-bottom: 25px; }
          .stepsform-start-item .icon-holder img {
            width: 200px;
            height: 200px;
            margin-left: -100px; }
        .stepsform-start-item h5 {
          margin-bottom: 25px; }
        .stepsform-start-item .button-holder {
          margin-top: 25px; } }
    @media only screen and (max-width: 991px) {
      .stepsform-start-item {
        padding: 0 15px; }
        .stepsform-start-item .icon-holder {
          height: 128px;
          margin-bottom: 25px; }
          .stepsform-start-item .icon-holder img {
            width: 128px;
            height: 128px;
            margin-left: -64px; }
        .stepsform-start-item h5 {
          margin-bottom: 15px; }
        .stepsform-start-item .button-holder {
          margin-top: 15px; } }
  .stepsform-nav {
    text-align: center;
    margin-bottom: 60px; }
    .stepsform-nav h4 {
      display: inline-block;
      font-weight: 300;
      line-height: 1.4;
      opacity: .35;
      border-bottom: 1px solid transparent; }
      .stepsform-nav h4.active {
        opacity: 1;
        border-bottom-color: #28acd8; }
    @media only screen and (max-width: 1420px) {
      .stepsform-nav {
        margin-bottom: 40px; } }
  .stepsform-content {
    min-height: 600px; }
    @media only screen and (max-width: 1420px) {
      .stepsform-content {
        min-height: 500px; } }
    @media only screen and (max-width: 991px) {
      .stepsform-content {
        min-height: 300px; } }
  .stepsform-first img {
    max-width: 100%; }
  .stepsform-first-title {
    margin-bottom: 55px; }
  .stepsform-first .title-input {
    margin-bottom: 35px; }
  .stepsform-first .plugin {
    text-align: center; }
  .stepsform-first .button-settings {
    vertical-align: middle;
    text-align: center; }
    .stepsform-first .button-settings input {
      text-align: center; }
      .stepsform-first .button-settings input.btn-blue {
        width: auto;
        font-weight: 300;
        margin: 0; }
    .stepsform-first .button-settings-inner p {
      margin-bottom: 20px; }
    .stepsform-first .button-settings-inner input {
      display: inline-block;
      width: 160px; }
    .stepsform-first .button-settings h4 {
      margin: 14% 0 20%;
      line-height: 1.8; }
  @media only screen and (max-width: 1420px) {
    .stepsform-first-title {
      margin-bottom: 30px; }
    .stepsform-first .button-settings {
      vertical-align: top; }
      .stepsform-first .button-settings h4 {
        margin: 10% 0 14%; } }
  .stepsform-second .stepsform-content {
    width: 33.33333333%;
    margin: auto; }
  .stepsform-second .column-center {
    vertical-align: middle; }
  .stepsform-second label {
    text-align: center; }
  .stepsform-second input {
    margin-bottom: 30px; }
    .stepsform-second input.btn-blue {
      width: auto;
      margin: 0;
      line-height: 1;
      font-weight: 300; }
  .stepsform-second .button-holder {
    margin-top: 10%;
    text-align: center; }
  @media only screen and (max-width: 1420px) {
    .stepsform-second input {
      margin-bottom: 20px; }
    .stepsform-second .button-holder {
      margin-top: 6%; } }
  .stepsform-third .column-left {
    padding-right: 100px; }
    .stepsform-third .column-left pre {
      margin-bottom: 40px; }
    .stepsform-third .column-left .button-holder {
      margin-top: 70px;
      text-align: center; }
  .stepsform-third .column-right {
    text-align: center;
    padding-left: 40px; }
    .stepsform-third .column-right h4 {
      margin-bottom: 40px; }
    .stepsform-third .column-right p {
      color: #28acd8;
      line-height: 1.8;
      margin-bottom: 15px; }
  .stepsform-third .column-inner:first-child {
    margin-bottom: 120px; }
  @media only screen and (max-width: 1420px) {
    .stepsform-third .column-left pre {
      margin-bottom: 30px; }
    .stepsform-third .column-left .button-holder {
      margin-top: 45px; }
    .stepsform-third .column-right h4 {
      margin-bottom: 25px; }
    .stepsform-third .column-inner:first-child {
      margin-bottom: 60px; } }
  @media only screen and (max-width: 991px) {
    .stepsform-third .column-left {
      padding-right: 15px; }
      .stepsform-third .column-left pre {
        margin-bottom: 20px; }
      .stepsform-third .column-left .button-holder {
        margin-top: 25px; }
    .stepsform-third .column-right {
      padding-left: 15px; }
      .stepsform-third .column-right h4 {
        margin-bottom: 25px; }
    .stepsform-third .column-inner:first-child {
      margin-bottom: 60px; }
    .stepsform-third .column-7, .stepsform-third .column-5 {
      width: 50%; } }

/*# sourceMappingURL=style.css.map */
