@import "reset.scss";
@import "mixins.scss";

$main-font-family: 'Lato', sans-serif;
$main-font-size: 30px;

$white: #ffffff;
$gray: #7f7c80;
$light-blue: #28acd8;

$desktop: "only screen and (max-width : 1420px)";
$tablet: "only screen and (max-width : 991px)";
$mobile: "only screen and (max-width : 767px)";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1700px;
  min-width: 750px;
  margin: auto;
  padding: 40px 15px;

  @media #{$desktop} {
    padding: 30px 15px;
  }
}

.row {
  width: 100%;
  display: table;
  @include clearfix;
}

.column {
  display: table-cell;
  padding: 0 15px;
  vertical-align: top;
  &-middle {
    vertical-align: middle;
  }
  &-1 {
    width: 8.33333333%;
  }
  &-2 {
    width: 16.66666667%;
  }
  &-3 {
    width: 25%;
  }
  &-4 {
    width: 33.33333333%;
  }
  &-5 {
    width: 41.66666667%;
  }
  &-6 {
    widows: 50%;
  }
  &-7 {
    width: 58.33333333%;
  }
  &-8 {
    width: 66.66666667%;
  }
  &-9 {
    width: 75%;
  }
  &-10 {
    width: 83.33333333%;
  }
  &-11 {
    width: 91.66666667%;
  }
  &-12 {
    width: 100%;
  }
}

.stepsform {
  font-family: $main-font-family;
  font-size: $main-font-size;
  color: $gray;
  font-weight: 300;

  hr {
    border: none;
    border-top: 2px solid $light-blue;
    margin: 100px 0;  
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    text-align: center;
    color: $light-blue;
  }

  h1 {
    font-size: 92px;
  }

  h2 {
    font-size: 47px;
    font-weight: 300;
  }

  h4 {
    font-size: 47px;
    font-weight: 300;
  }

  h5 {
    font-size: 40px;
  }

  p {
    font-weight: 300;
  }

  .title {
    margin-bottom: 40px;
  }

  .subtitle {
    margin-bottom: 90px;
  }

  .btn-blue {
    display: inline-block;
    background: transparent;
    padding: 9px 35px;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: $light-blue;
    outline: none;
    border: 3px solid $light-blue;
    cursor: pointer;
    @include border-radius(15px);
    @include transition(all, 0.3s, linear);

    &:hover {
      background-color: $light-blue;
      color: $white;
    }

    &:focus {
      background-color: darken($light-blue, 8%);
      border-color: darken($light-blue, 8%);
      color: $white;
    }
  }

  .btn-large {
    padding: 15px 60px;
    font-size: 47px;
    letter-spacing: 2px;
    @include border-radius(18px);
  }

  label {
    display: block;
    font-weight: 300;
    margin-bottom: 25px;
  }

  input, textarea {
    margin-bottom: 15px;
    width: 100%;
    font-size: 30px;
    font-weight: 300;
    color: $light-blue;
    outline: none;
    border: 3px solid $light-blue;
    @include border-radius(15px);
    @include transition(all, 0.3s, linear);

    &:focus {
      border-color: $gray;
    }
  }

  input {
    padding: 7px 30px;
  }

  textarea {
    padding: 20px;
    resize: none;
    height: auto;
  }

  pre {
    padding: 16px 20px 20px;
    white-space: normal;
    margin-bottom: 15px;
    width: 100%;
    font-size: 24px;
    line-height: 1.4;
    font-weight: 300;
    color: $gray;
    border: 3px solid $light-blue;
    @include border-radius(15px);
  }

  ::-webkit-input-placeholder {
    color: $gray;
    font-weight: 300;
  }

  ::-moz-placeholder {
    color: $gray;
    font-weight: 300;
  }

  :-moz-placeholder {
    color: $gray;
    font-weight: 300;
  }

  :-ms-input-placeholder {
    color: $gray;
    font-weight: 300;
  }

  .logo-holder {
    margin-bottom: 50px;
  }

  @media #{$desktop} {
    font-size: 24px;

    h1 {
      font-size: 70px;
    }
    h2 {
      font-size: 40px;
    }
    h4 {
      font-size: 40px;
    }
    h5 {
      font-size: 32px;
    }
    .title {
      margin-bottom: 25px;
    }
    .subtitle {
      margin-bottom: 50px;
    }
    .logo-holder {
      margin-bottom: 25px;
    }

    .btn-blue {
      font-size: 24px;
      padding: 7px 30px;
      @include border-radius(12px);
    }
    .btn-large {
      padding: 12px 40px;
      font-size: 35px;
      letter-spacing: 1px;
      @include border-radius(18px);
    }

    label {
      margin-bottom: 15px;
    }
    input, textarea {
      font-size: 24px;
      @include border-radius(12px);
    }
    input {
      padding: 5px 25px;
    }

    pre {
      font-size: 18px;
      padding: 12px 15px 15px;
    }
  }

  @media #{$tablet} {
    font-size: 18px;

    hr {
      margin: 40px 0;
    }

    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 28px;
    }
    h4 {
      font-size: 28px;
    }
    h5 {
      font-size: 20px;
    }
    .title {
      margin-bottom: 20px;
    }
    .subtitle {
      margin-bottom: 35px;
    }
    .logo-holder {
      margin-bottom: 15px;
      img {
        width: 230px;
      }
    }

    .btn-blue {
      font-size: 20px;
      padding: 7px 20px;
      @include border-radius(10px);
    }
    .btn-large {
      padding: 10px 30px;
      font-size: 28px;
      @include border-radius(15px);
    }

    label {
      margin-bottom: 15px;
    }
    input, textarea {
      font-size: 18px;
      margin-bottom: 10px;
      @include border-radius(10px);
    }
    input {
      padding: 5px 15px;
    }

    pre {
      font-size: 15px;
      padding: 10px 12px 12px;
    }
  }

  &-start {
    text-align: center;

    &-inner {
      @include clearfix;
    }

    &-item {
      padding: 0 30px;

      .icon-holder {
        margin-bottom: 40px;
        height: 256px;
        position: relative;

        img {
          width: 256px;
          height: 256px;
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -128px;
          @include transition (all, 0.4s, linear);

          &.hover-icon {
            visibility: hidden;
            opacity: 0;
            z-index: 10;
          }
        }
      }

      h5 {
        margin-bottom: 30px;
      }

      p {
        line-height: 1.5;
      }

      .button-holder {
        margin-top: 40px;
      }

      &:hover {
        .icon-holder {
          img {
            &.hover-icon {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }

    @media #{$desktop} {
      &-item {
        padding: 0 20px;
        .icon-holder {
          height: 200px;
          margin-bottom: 25px;
          img {
            width: 200px;
            height: 200px;
            margin-left: -100px;
          }
        }

        h5 {
          margin-bottom: 25px;
        }

        .button-holder {
          margin-top: 25px;
        }
      }
    }

    @media #{$tablet} {
      &-item {
        padding: 0 15px;
        .icon-holder {
          height: 128px;
          margin-bottom: 25px;
          img {
            width: 128px;
            height: 128px;
            margin-left: -64px;
          }
        }

        h5 {
          margin-bottom: 15px;
        }

        .button-holder {
          margin-top: 15px;
        }
      }
    }
  }

  &-nav {
    text-align: center;
    margin-bottom: 60px;

    h4 {
      display: inline-block;
      font-weight: 300;
      line-height: 1.4;
      opacity: .35;
      border-bottom: 1px solid transparent;

      &.active {
        opacity: 1;
        border-bottom-color: $light-blue;
      }
    }

    @media #{$desktop} {
      margin-bottom: 40px;
    }
  }

  &-content {
    min-height: 600px;

    @media #{$desktop} {
      min-height: 500px;
    }

    @media #{$tablet} {
      min-height: 300px;
    }
  }

  &-first {
    img {
      max-width: 100%;
    }

    &-title {
      margin-bottom: 55px;
    }

    .title-input {
      margin-bottom: 35px;
    }

    .plugin {
      text-align: center;
    }

    .button-settings {
      vertical-align: middle;
      text-align: center;

      input {
        text-align: center;

        &.btn-blue {
          width: auto;
          font-weight: 300;
          margin: 0;
        }
      }

      &-inner {
        p {
          margin-bottom: 20px;
        }

        input {
          display: inline-block;
          width: 160px;
        }
      }

      h4 {
        margin: 14% 0 20%;
        line-height: 1.8;
      }
    }

    @media #{$desktop} {
      &-title {
        margin-bottom: 30px;
      }
      .button-settings {
        vertical-align: top;
        h4 {
          margin: 10% 0 14%;
        }
      }
    }
  }

  &-second {
    .stepsform-content {
      width: 33.33333333%;
      margin: auto;
    }

    .column-center {
      vertical-align: middle;
    }

    label {
      text-align: center;
    }

    input {
      margin-bottom: 30px;

      &.btn-blue {
        width: auto;
        margin: 0;
        line-height: 1;
        font-weight: 300;
      }
    }

    .button-holder {
      margin-top: 10%;
      text-align: center;
    }

    @media #{$desktop} {
      input {
        margin-bottom: 20px;
      }
      .button-holder {
        margin-top: 6%;
      }
    }
  }

  &-third {
    .column-left {
      padding-right: 100px;

      pre {
        margin-bottom: 40px;
      }

      .button-holder {
        margin-top: 70px;
        text-align: center;
      }
    }

    .column-right {
      text-align: center;
      padding-left: 40px;

      h4 {
        margin-bottom: 40px;
      }

      p {
        color: $light-blue;
        line-height: 1.8;
        margin-bottom: 15px;
      }
    }

    .column-inner {
      &:first-child {
        margin-bottom: 120px;
      }
    }

    @media #{$desktop} {
      .column-left {
        pre {
          margin-bottom: 30px;
        }
        .button-holder {
          margin-top: 45px;
        }
      }
      .column-right {
        h4 {
          margin-bottom: 25px;
        }
      }
      .column-inner {
        &:first-child {
          margin-bottom: 60px;
        }
      }
    }
    @media #{$tablet} {
      .column-left {
        padding-right: 15px;
        pre {
          margin-bottom: 20px;
        }
        .button-holder {
          margin-top: 25px;
        }
      }
      .column-right {
        padding-left: 15px;
        h4 {
          margin-bottom: 25px;
        }
      }
      .column-inner {
        &:first-child {
          margin-bottom: 60px;
        }
      }
      .column-7, .column-5 {
        width: 50%;
      }
    }
  }
}



















